.popup__footer {
  padding-bottom: 10px;
  margin-top: 55px;
}

.popup__link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.popup__title {
  padding-left: 5px;
  font-size: 13px;
}

.popup__description {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 11px;
}

.popup__tip {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: -1px;
  font-size: 10px;
  font-weight: bold;
  color: #ffd679;
}

.popup__footer-avatar {
  border: 1px solid;
  border-radius: 50%;
}
